body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aquamarine;
  text-align: center;
  margin: 20px;
}
p {
  margin: 5px;
}
img {
  border-radius: 50%;
}
.data-container {
  font-size: 20px;
  background-color: rgb(226, 241, 241);
  border: 2px solid rgb(29, 29, 54);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
